html {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    min-width: 525px;
}

body {
    margin: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
}

body::before {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(70, 70, 70, 0.1) 1.3px, transparent 1px);
    background-size: 7px 7px;
    mask-image: linear-gradient(transparent, black);
}

app-container {

    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    --background-line-color: rgba(70, 70, 70, 0.05) !important;
    z-index: -65535;
    background-color: transparent;
    background-size: 40px 40px !important;
    background-position: center center !important;
    background-image:
        linear-gradient(to right, var(--background-line-color) 1.5px, transparent 1px),
        linear-gradient(to bottom, var(--background-line-color) 1.5px, transparent 1px) !important;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: var(--border-color) solid 0.08rem;
}

img {
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: var(--container-border-radius);
}

p {
    font-size: 1.2rem;
    line-height: 29px;
    margin: 0px 0px 20px 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: unset;
    color: var(--primary-font-color);
}

a {
    font-size: 1.2rem;
    padding: 2px 4px 2px 4px;
    margin: 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.10s ease 0s;
    border-radius: 6px;
    border: transparent solid 2px;
    background: transparent;
}

a:hover {
    transition: all 0.10s ease 0s;
    background: transparent;
    background-color: var(--hover-color);
    border: transparent solid 2px;
}

h1 {
    margin: 0px;
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-font-color);
}

h2 {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
    color: var(--primary-font-color);
}

h3 {
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-font-color);
}

input {
    border: 0.1rem solid var(--grey-4-07);
    background-color: var(--bg-color-0);
}

input,
input:focus {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: all 200ms ease 0s;
    overflow: hidden;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
    background: var(--bg-color-1);
}

select,
select:focus {
    font-size: 1rem;
    transition: all 200ms ease 0s;
    border: 0.1rem solid var(--grey-4-07);
    border-radius: 0.2rem;
    padding: 0.3rem;
}

select {
    border: 0.1rem solid var(--grey-4-07);
    background-color: var(--bg-color-1);
}

select:focus {
    outline: none;
    border-color: var(--primary-color);
    background: var(--bg-color-2)
}

button {
    font-size: 1rem;
    transition: all 100ms ease 0s;
    border: 0.1rem solid var(--grey-4-07);
    border-radius: 0.2rem;
    padding: 0.3rem;
    background-color: var(--bg-color-1);
    margin: 0;
}

button:hover {

    border-color: var(--primary-color);

}

button:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--bg-color-0);
}

hr.blank {
    border: 0px;
}

hr.vertical {
    border: 0.1rem solid var(--border-color);
    width: 0px;
    height: 100%;
}

.content {
    padding-top: 70px;
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 0px;
}

text-code {
    font-family: "Jetbrains Mono","consolas", sans-serif, monospace;
    background-color: var(--bg-color-1);
    padding: 0rem 0.2rem 0rem 0.2rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--border-color);
    /*color: color-mix(in srgb,var(--primary-color) 50% , var(--secondary-color));*/
    color:var(--primary-font-color)
}

text-keycap{
    font-family: "Jetbrains Mono","consolas", sans-serif, monospace;
    background-color: var(--bg-color-1);
    padding: 0rem 0.2rem 0.1rem 0.2rem;
    border-radius: 0.2rem;
    border: none;
    box-shadow:0 -0.1rem 0 0 var(--border-color) inset;
    color: var(--primary-font-color);
}

text-keycap::before {
    content: "[";
}

text-keycap::after {
    content: "]";
}

text-highlight.primary{
    color: var(--primary-color);
}

text-highlight.secondary{
    color: var(--secondary-color);
}

text-whisper {
    color: var(--grey-2-07);
}

text-italic {
    font-style: italic;
}

text-bold {
    font-weight: bold;
}

text-underline {
    text-decoration: underline;
}

text-strikethrough {
    text-decoration: line-through;
}



/*  ↓等待迁移↓  */

.container,
.glowing-container {
    --container-background-color: rgba(51, 51, 51, 1);
    width: 100%;
    border: 2px solid rgba(100, 100, 100, 0.7);
    box-sizing: border-box;
    border-radius: 0;
    background: var(--container-background-color);
    padding: 8px;
    margin: 16px 0px 16px 0px;
    box-shadow: 0px 0px 16px color-mix(in srgb, var(--background-color)70%, black);
}

.container,
.glowing-container>* {
    font-family: "Rajdhani";
}

.glowing-container {
    border-bottom: 0.2rem solid color-mix(in srgb, var(--theme-color) 80%, white);
    background: linear-gradient(rgba(35, 35, 35, 1), 63%, color-mix(in srgb, var(--theme-color), black));
}

.glowing-container.error {
    --theme-color: var(--error-color);

}

.glowing-container.warn {
    --theme-color: var(--warn-color)
}

.glowing-container-inner {
    --border: 5px solid var(--theme-color);
    border-left: var(--border);
    border-right: var(--border);
    padding: 8px 32px 8px 32px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glowing-container-inner>* {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.407);
    text-align: center;
    color: white;
    font-family: "Rajdhani";
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
}

.glowing-container-inner>img {
    width: 96px;

    filter: drop-shadow(23662px 0 0 var(--theme-color));
    transform: translate(-23662px);
    padding-right: 8px;
    color: var(--theme-color)
}

.glowing-container-inner>h1 {
    font-size: 56px;
    font-weight: 900;
}

.glowing-container-inner>p {
    font-size: 22px;
}


@media (max-width: 768px) {
    .content {
        width: calc(100% - 0.8rem - 1.6rem);
        margin: 0px 0.8rem 0px 1.6rem !important;
    }
}