body {
    margin: 0px;
    background: var(--background-color);
    background-size: 30px 30px;
    background-position: center center;
    background-image:
        linear-gradient(to right, rgba(255, 57, 56, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 57, 56, 0.05) 1px, transparent 1px);
    
    min-width: 300px;
    overflow-x: hidden;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: var(--border-color) solid 1.5px;
}

img {
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: var(--container-border-radius);
}

p {
    font-size: 19px;
    line-height: 29px;
    margin: 0px 0px 20px 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: unset;
    color: var(--primary-font-color);
}

a {
    font-size: 19px;
    padding: 2px 4px 2px 4px;
    margin: 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.10s ease 0s;
    border-radius: 6px;
    border: transparent solid 2px;
    background: transparent;
}

a:hover {
    transition: all 0.10s ease 0s;
    background: transparent;
    background-color: var(--hover-color);
    border: transparent solid 2px;
}

h1 {
    margin: 0px;
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-font-color);
}

h2 {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
    color: var(--primary-font-color);
}

h3 {
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-font-color);
}

.blank {
    border: 0px;
}

.content {
    padding-top: 70px;
}

.container0 {
    margin: 0px;
    margin-bottom: 32px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: transparent;
    border-radius: var(--container-border-radius);
}

.container1 {
    margin: 0px 0px 30px 0px;
    background-color: var(--primary-container-color);
    padding: 28px;
    border-radius: var(--container-border-radius);

}

.container1>* {
    color: var(--on-primary-container-color)
}

.container1>p {
    margin-bottom: 0px;
}

.container2 {
    margin: 0px 0px 30px 0px;
    background-color: var(--tertiary-container-color);
    padding: 28px;
    border-radius: var(--container-border-radius);

}

.container-2>* {
    color: var(--on-tertiary-container-color)
}

.container2>p {
    margin-bottom: 0px;
}

.container, .glowing-container {
    --container-background-color:rgba(51,51,51,1);
    width: 100%;
    border: 2px solid rgba(100, 100, 100, 0.7);
    box-sizing: border-box;
    border-radius: 0;
    background: var(--container-background-color);
    padding: 8px;
    margin: 16px 0px 16px 0px;
    box-shadow: 0px 0px 16px color-mix(in srgb, var(--background-color)70%, black);
}

.container, .glowing-container>*{
    font-family: "Rajdhani";
}

.glowing-container {
    border-bottom: 0.2rem solid color-mix(in srgb, var(--theme-color) 80%, white);
    background: linear-gradient(rgba(35, 35, 35, 1), 63%, color-mix(in srgb, var(--theme-color), black));
}

.glowing-container.error {
    --theme-color: var(--error-color);
    
}

.glowing-container.warn{
    --theme-color: var(--warn-color)
}

.glowing-container-inner {
    --border: 5px solid var(--theme-color);
    border-left: var(--border);
    border-right: var(--border);
    padding: 8px 32px 8px 32px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glowing-container-inner>* {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.407);
    text-align: center;
    color: white;
    font-family: "Rajdhani";
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
}

.glowing-container-inner>img {
    width: 96px;

    filter: drop-shadow(23662px 0 0 var(--theme-color));
    transform: translate(-23662px);
    padding-right: 8px;
    color: var(--theme-color)
}

.glowing-container-inner>h1 {
    font-size: 56px;
    font-weight: 900;
}

.glowing-container-inner>p {
    font-size: 22px;
}