body {
    margin: 0px;
    background: var(--background-color);
    min-width: 300px;
    overflow-x: hidden;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: var(--border-color) solid 1.5px;
}

img {
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: var(--container-border-radius);
}

p {
    font-size: 19px;
    line-height: 28px;
    margin: 0px 0px 20px 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    color: var(--primary-font-color);
}

a {
    font-size: 19px;
    margin: 0px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.20s ease 0s;
}

a:hover {
    transition: all 0.20s ease 0s;
    color: color-mix(in srgb, var(--primary-color)70%, var(--background-color));
    font-weight: bold;
}

h1 {
    margin: 0px;
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-font-color);
}

h2 {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
    color: var(--primary-font-color);
}

h3 {
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-font-color);
}

.blank {
    border: 0px;
}

.content {
    padding-top: 70px;
}

.container0 {
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: transparent;
    padding: 30px;
    border-radius: var(--container-border-radius);
}

.container1 {
    margin: 0px 0px 30px 0px;
    background-color: var(--primary-container-color);
    padding: 28px;
    border-radius: var(--container-border-radius);

}

.container1>* {
    color: var(--on-primary-container-color)
}

.container1>p{
    margin-bottom: 0px;
}

.container2 {
    margin: 0px 0px 30px 0px;
    background-color: var(--tertiary-container-color);
    padding: 28px;
    border-radius: var(--container-border-radius);

}

.container-2>* {
    color: var(--on-tertiary-container-color)
}

.container2>p{
    margin-bottom: 0px;
}

.container-error {
    margin: 0px 0px 30px 0px;
    background-color: var(--error-color);
    padding: 28px;
    border-radius: var(--container-border-radius);

}

.container-error>* {
    color: var(--on-error-color)
}

.container-error>p{
    margin-bottom: 0px;
}