@import url('https://fonts.font.im/css?family=Montserrat:300,400,500,600,700,800,900|Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --container-border-radius: 0px;
    --blur: blur(12px) saturate(0);
    font-family: "Montserrat", "Noto Sans SC";
    font-weight: 500;
}

.title-font{
    font-family: "Rajdhani";
    font-weight: 600;
}