@font-face {
    font-family: ui-font-v2;
    src: url(https://www.coloros.com/font/OPlusSans3-Medium.woff2);
}

:root{
    --container-border-radius: 16px;
    --blur: blur(12px) saturate(0);
    font-family: ui-font-v2;
}