@font-face {
    font-family: ui-font-v2;
    src: url(https://www.oppo.com/content/dam/statics/fonts/cn/OPPOSans4.0cn-Regular.woff2);
}

:root{
    --container-border-radius: 16px;
    --blur: blur(12px) saturate(0);
    font-family: ui-font-v2;
}

*{
    transition: color,border-color 0.7s ease 0s;
}