#abandon114514 {
    --selection-color: #ffdad588;
    --border-color: rgba(100, 100, 100, 0.7);
    /*1st*/
    --primary-color: #9f3f35;
    --on-primary-color: #ffffff;
    --primary-container-color: #ffdad5;
    --on-primary-container-color: #410001;
    --primary-font-color: #201a19;
    --secondary-font-color: #5a4a48;
    /*2nd*/
    --secondary-color: #775652;
    --on-secondary-color: #ffffff;
    --secondary-container-color: #ffdad5;
    --on-secondary-container-color: #2c1512;
    /*3rd*/
    --tertiary-color: #715b2e;
    --on-tertiary-color: #ffffff;
    --tertiary-container-color: #fddfa6;
    --on-tertiary-container-color: #261a00;
    /*ERROR*/
    --error-color: #ba1a1a;
    --on-error-color: #ffffff;
    --error-container-color: #ffd6d6;
    --on-error-container-color: #410002;
    /*others*/
    --background-color: #ffffff;
    --surface0-color: #fffbff;
    --surface1-color: #faf2f6;
    --t-tag-container-color: #faf2f6;
    --t-tag-primary-color: var(--primary-color);
}

:root {
    --container-background-color: rgb(28, 27, 27);
    --glowing-container-background-color: rgb(27, 26, 26);
}


:root {
    transition: all 0.4s ease 0s;
    --bg-color-0: rgb(255, 255, 255);
    --bg-color-1: rgb(242, 242, 242);
    --bg-color-2: rgb(229, 229, 229);
    --bg-color-3: rgb(204, 204, 204);


    --grey-0: rgba(40, 40, 40, 1);
    --grey-1: rgba(90, 90, 90, 1);
    --grey-2: rgba(127, 127, 127, 1);
    --grey-3: rgba(148, 148, 148, 1);
    --grey-4: rgba(190, 190, 190, 1);
    /*transparency == 0.7*/
    --grey-0-07: rgba(40, 40, 40, 0.7);
    --grey-1-07: rgba(90, 90, 90, 0.7);
    --grey-2-07: rgba(127, 127, 127, 0.7);
    --grey-3-07: rgba(148, 148, 148, 0.7);
    --grey-4-07: rgba(190, 190, 190, 0.7);


    --primary-color: rgb(24, 207, 155);
    --primary-font-color: rgb(40, 40, 40);

    --secondary-font-color: rgb(218, 202, 202);
    --secondary-color: rgba(255, 152, 88, 1);
    --on-secondary-color: #442926;
    --secondary-container-color: #5d3f3b;
    --on-secondary-container-color: #ffdad5;
    /*3rd ! don't use this*/
    --tertiary-color: #eac783;
    --on-tertiary-color: #3e2e04;
    --tertiary-container-color: #574419;
    --on-tertiary-container-color: #fcdfa6;
    /*ERROR*/
    --error-color: #ff6958;
    --on-error-color: #690005;
    --error-container-color: #93000a;
    --on-error-container-color: #ffb4ab;
    /*WARN*/
    --warn-color: #ff9858;
    --on-warn-color: #692800;
    --warn-container-color: #932700;
    --on-warn-container-color: #ffd2ab;
    /*others*/
    --selection-color: color-mix(in srgb, var(--primary-color)20%, transparent);
    --border-color: var(--bg-color-3);
    --hover-color: color-mix(in srgb, var(--primary-color)20%, transparent);
    --background-color: var(--bg-color-0);
    --surface0-color: #dedede;
    --surface1-color: #d2d2d2;
    --t-tag-container-color: #9c9c9c;
    --t-tag-primary-color: var(--primary-color);
}