#abandon114514 {
    --selection-color: #ffdad588;
    --border-color: rgba(100, 100, 100, 0.7);
    /*1st*/
    --primary-color: #9f3f35;
    --on-primary-color: #ffffff;
    --primary-container-color: #ffdad5;
    --on-primary-container-color: #410001;
    --primary-font-color: #201a19;
    --secondary-font-color: #5a4a48;
    /*2nd*/
    --secondary-color: #775652;
    --on-secondary-color: #ffffff;
    --secondary-container-color: #ffdad5;
    --on-secondary-container-color: #2c1512;
    /*3rd*/
    --tertiary-color: #715b2e;
    --on-tertiary-color: #ffffff;
    --tertiary-container-color: #fddfa6;
    --on-tertiary-container-color: #261a00;
    /*ERROR*/
    --error-color: #ba1a1a;
    --on-error-color: #ffffff;
    --error-container-color: #ffd6d6;
    --on-error-container-color: #410002;
    /*others*/
    --background-color: #ffffff;
    --surface0-color: #fffbff;
    --surface1-color: #faf2f6;
    --t-tag-container-color: #faf2f6;
    --t-tag-primary-color: var(--primary-color);
}

:root {
    --container-background-color: rgba(51, 51, 51, 1);
    --glowing-container-background-color: rgba(35, 35, 35, 1);
}


:root {
    transition: all 0.4s ease 0s;
    --selection-color: #ffdad588;
    --border-color: rgba(100, 100, 100, 0.7);
    --hover-color: color-mix(in srgb, var(--primary-color)20%, transparent);
    /*1st*/
    --primary-color: #ff3938;
    --on-primary-color: #fb00ff;
    --primary-container-color: #fb00ff;
    --on-primary-container-color: #fb00ff;
    --primary-font-color: #fff4f4;
    --secondary-font-color: #dacaca;
    /*2nd*/
    --secondary-color: #FF9858;
    --on-secondary-color: #442926;
    --secondary-container-color: #5d3f3b;
    --on-secondary-container-color: #ffdad5;
    /*3rd*/
    --tertiary-color: #eac783;
    --on-tertiary-color: #3e2e04;
    --tertiary-container-color: #574419;
    --on-tertiary-container-color: #fcdfa6;
    /*ERROR*/
    --error-color: #ff6958;
    --on-error-color: #690005;
    --error-container-color: #93000a;
    --on-error-container-color: #ffb4ab;
    /*WARN*/
    --warn-color: #ff9858;
    --on-warn-color: #692800;
    --warn-container-color: #932700;
    --on-warn-container-color: #ffd2ab;
    /*others*/
    --background-color: rgb(24,20,20);
    --surface0-color: #2a2120;
    --surface1-color: #312624;
    --t-tag-container-color: #382b29;
    --t-tag-primary-color: var(--primary-color);
}