.t-tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: bottom;
}

.t-tags-container>p {
    border-radius: 6px;
    background-color: var(--t-tag-container-color);
    color: var(--t-tag-primary-color);
    padding: 1px 16px 1px 16px;
    width: fit-content;
    min-width: fit-content;
    white-space: nowrap;
    margin: 6px 6px 6px 0px;
    font-size: 14px;
}

.icon-title {
    filter: drop-shadow(23662px 0 0 var(--primary-color));
    transform: translate(-23662px);
    padding-right: 8px;
    width: 84px;
    color: var(--primary-color)
}